html, body {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Helvetica';
    -webkit-box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23); }
/*board*/
.box { 
    text-align: center; 
    background-color: #eeeeee;
    margin: 0 auto;
}
.centered { 
    display: inline-block; 
    margin: 0;
}
.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse; 
}
.chess-board th { 
    padding: .5em;
    color: #090325;
}
.chess-board td { 
    border: 1px solid; 
    width: 56px; 
    height: 56px; 
    text-align: center; 
    vertical-align: middle;
    background-size: 60px;
}
.chess-board .white { 
    background-color: #f0d9b5; 
}
.chess-board .black { 
    background-color: #b58863; 
}
.chess-board .active { 
    background-color: #ffa5a5; 
}
.white-pawn {
    background-image: url("../images/wP.png");
}
.black-pawn {
    background-image: url("../images/bP.png");
}
.white-rook {
    background-image: url("../images/wR.png");
}
.black-rook {
    background-image: url("../images/bR.png");
}
.white-knight {
    background-image: url("../images/wN.png");
}
.black-knight {
    background-image: url("../images/bN.png");
}
.white-bishop {
    background-image: url("../images/wB.png");
}
.black-bishop {
    background-image: url("../images/bB.png");
}
.white-king {
    background-image: url("../images/wK.png");
}
.black-king {
    background-image: url("../images/bK.png");
}
.white-queen {
    background-image: url("../images/wQ.png");
}
.black-queen {
    background-image: url("../images/bQ.png");
}

/*-----------------*/ 
.header__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
    padding: 1.5rem; }

.logo-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.2em;
    margin-top: -0.15em; }

.header__item {
    text-decoration: none;
    list-style-type: none;
    margin-right: 1.5rem; }

@media screen and (max-width: 342px) {
    .header__nav {
        display: none; }
    .header__nav:last-child {
        display: inline-block; } }

.header__link {
    color: #090325;
    text-decoration: none; }

.header__link:hover {
    border-bottom: 2px solid white; }

html, body {
    margin: 0;
    padding: 0; }

header {
    font-family: 'Helvetica';
    color: #090325;
    -webkit-box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23); }

.header__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
    padding: 1.5rem; }

.logo-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.2em;
    margin-top: -0.15em; }

.header__item {
    text-decoration: none;
    list-style-type: none;
    margin-right: 1.5rem; }

@media screen and (max-width: 342px) {
    .header__nav {
        display: none; }
    .header__nav:last-child {
        display: inline-block; } }

.header__link {
    color: #090325;
    text-decoration: none; }

.header__link:hover {
    border-bottom: 2px solid white; }

.modal-login {
    margin: 3rem auto;
    max-width: 300px;
    width: inherit;
    display: block;
    -webkit-box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    background-color: #fff;
    padding: 2rem;
    font-family: 'Helvetica'; }

.modal-login__caption {
    margin-bottom: 1rem;
    font-weight: 500; }

.modal-login__input {
    padding: 0.5rem;
    display: block;
    margin-bottom: 0.5rem; }

.modal-login__submit {
    background-color: #fff;
    padding: 0.8rem;
    cursor: pointer;
    border: 1px solid #2d41fb; }

.modal-login__submit:hover {
    background-color: #2d41fb;
    color: white; }

body {
    background-color: #eeeeee;
    color: #090325; }

main.info-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    margin-top: 2rem;
    font-family: 'Helvetica';
    color: white; }

.about-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2rem;
    background-color: #2d41fb;
    -webkit-box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23); }

.reg-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2rem;
    margin-bottom: 0;
    -webkit-box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23);
    box-shadow: 0 10px 20px rgba(45, 65, 251, 0.19), 0 6px 6px rgba(45, 65, 251, 0.23); }

.reg-block__caption {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.2rem;
    background-color: #2d41fb; }

.reg-block__input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem; }

.reg-block__submit {
    padding: 0.8rem;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #2d41fb; }

.reg-block__submit:hover {
    background-color: #2d41fb;
    color: white; }

/*-------------------------------*/

/*-----------SUPPORTED-----------*/
.block-active {
  display: block;
}

.not-active {
  display: none;
}
